.BuildControls {
    width: 100%;
    background-color: #CF8F2E;
    display: flex;
    flex-flow: column;
    align-items: center;
    box-shadow: 0 2px 1px #ccc;
    margin: auto;
    padding: 10px 0;
}


.order-button {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 6em;
    height: 3em;
    border: 2px solid rgba(224,175,92,1);
    font: normal 16px/1 "Times New Roman", Times, serif;
    color: black;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    background: #f9ed63;
  }
  
  .order-button:hover {
    border: 2px solid rgba(181,128,45,1);
    background: #ea9d59;
  }
  
  .order-button:active {
    border: 2px solid rgba(224,175,92,1);
    background: #f9ed63;
  }

  .order-button:disabled{
    display: none;
  }

@keyframes enable {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}